h1 { background-color: blueviolet;color: darksalmon;

}
p{ background-color: #8e7aa1;color: #c7ada4;

}
h2{ background-color: blueviolet;color: darksalmon;

}
a{ background-color: blueviolet;color: darksalmon;

}
h3{ background-color: blueviolet;color: darksalmon;

}
ul{ background-color: blueviolet;color: darksalmon;

}
img {
    width: 200px;
}